@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

.text {
    font-family: 'Bebas Neue', cursive;
    /* font-size: 100px; */
    color: rgb(56, 56, 56);
}

.text2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-right: 200px;
    color: rgb(56, 56, 56);
}

.text3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    color: rgb(56, 56, 56);
    text-align: center;
    position: relative;
}

a:link {
    text-decoration: lightcoral;
  }

.header {
    padding: 5px;
    text-align: center;
    background: #FFAEBC;
    color: white;
}


/* Responsive */
/* Mobile */

.bawah{
    display: flex;
}

.atas{
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    color: rgb(56, 56, 56);
    text-align: center;
    background-image: url(https://photos.app.goo.gl/7PXJHsZuwpf7EJkB6);
}

 table{
    border: 2px solid black;
} 

/* Tablet */
@media (min-width:768px) and (max-width:992px){
    .atas{
        font-family: 'Bebas Neue', cursive;
        color: rgb(56, 56, 56);
        text-align: center;
        background-image: url(https://photos.app.goo.gl/7PXJHsZuwpf7EJkB6);
    }
    .bawah{
        display: flex;
        justify-content: center;
    }
}


/* Desktop */
@media(min-width: 992px) {
    .atas{
        font-family: 'Bebas Neue', cursive;
        color: rgb(56, 56, 56);
        text-align: center;
        background-image: url(https://photos.app.goo.gl/7PXJHsZuwpf7EJkB6);
    }

    .bawah{
        display: flex;
        justify-content: center;
    }
}