/* Responsive */
/* Mobile */

.bawah{
    display: flex;
    justify-content: center;
}

.atas{
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    color: rgb(56, 56, 56);
    text-align: center;
    background-image: url(https://jooinn.com/images/blur-background-1.png);
}


/* Tablet */
@media (min-width:768px) and (max-width:992px){
    .atas{
        font-family: 'Bebas Neue', cursive;
        color: rgb(56, 56, 56);
        text-align: center;
        background-image: url(https://jooinn.com/images/blur-background-1.png);
    }
    .bawah{
        display: flex;
        justify-content: center;
    }
}


/* Desktop */
@media(min-width: 992px) {
    .atas{
        font-family: 'Bebas Neue', cursive;
        color: rgb(56, 56, 56);
        text-align: center;
        background-image: url(https://jooinn.com/images/blur-background-1.png);
    }

    .bawah{
        display: flex;
        justify-content: center;
    }
}